@use "../../styles/variables.scss" as *;

:host {
  .footer {
    padding: 30px;
    background-color: $black;
    display: flex;
    color: $light_grey;
  }

  .col {
    flex: 0 0 33.3333%;
  }

  ul {
    height: 100%;
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    height: 30px;

    mat-icon {
      display: flex;
      font-size: 1em;
      color: $primary;
      justify-content: center;
      align-items: center;
      width: 30px;
    }

    &:first-child {
      margin-bottom: 10px;

      span {
        border-bottom: 1px solid white;
        padding: 5px;
      }
    }
  }

  a {
    color: $grey;
    text-decoration: underline;
    text-decoration-color: $primary;
    text-underline-offset: 3px;

    &:hover {
      color: $light_grey;
    }
  }

  @media only screen and (max-width: 680px) {
    footer {
      padding: 45px 0 !important;
      flex-direction: column;
      text-align: center;
      font-size: 1.2em;
    }

    .col + .col {
      margin-top: 30px;
    }
  }
}
