<app-banner
  title="Contactez-moi"
  [breakcrumbItems]="breakcrumbItems"
></app-banner>

<section class="contact-form">
  <div class="container">
    <!-- <div class="contact-canal">
      <h2>Par email</h2>
      <form [formGroup]="form">
        <div class="form-group">
          <div class="form-control control-name">
            <input
              type="text"
              placeholder="Nom, Prénom *"
              formControlName="fullName"
            />
            <div class="input-error"></div>
          </div>
          <div class="form-control control-phone">
            <input
              type="email"
              placeholder="Téléphone *"
              formControlName="phoneNumber"
            />
            <div class="input-error" *ngIf="isInvalid('telephone')">
              Numéro de téléphone invalide
            </div>
          </div>
          <div class="form-control control-email">
            <input type="email" placeholder="Email *" formControlName="email" />
            <div class="input-error" *ngIf="isInvalid('email')">
              Adresse e-mail invalide
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control control-message">
            <textarea
              rows="5"
              placeholder="Message *"
              formControlName="message"
            ></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="form-tips">* Tous les champs sont obligatoires.</div>
        </div>
        <div class="form-group">
          <div class="form-control control-submit">
            <button
              class="button"
              type="submit"
              [disabled]="form.invalid || form.disabled"
              (click)="submit()"
            >
              Envoyer
            </button>
          </div>
        </div>
      </form>
    </div> -->
    <div class="contact-canal">
      <h2>Par les réseaux sociaux</h2>
      <p>
        Besoin d'un expert en plaquisterie, peinture, carrelage ou électricité ?
        Contactez-moi sur
        <a href="https://wa.me/{{ whatsAppNumber }}">WhatsApp</a> ou
        <a href="https://www.facebook.com/lccreation68210">Messenger</a> pour un
        devis rapide et personnalisé !
      </p>
    </div>
    <div class="contact-canal">
      <h2>Par téléphone</h2>
      <p>
        Envie de discuter de votre projet et d'obtenir un devis ? Appelez-moi au
        <a [href]="getInternationnalNumber(portableNumber)">{{
          portableNumber
        }}</a>
        pour planifier un rendez-vous.
      </p>
    </div>
  </div>
</section>
