:host {
    section {
        padding: 30px 0;
    }

    .navbar {
        background-color: #fff;
    }

    .modal-content {
        background-color: #fff;
        padding: 15px;
    }

    .hero-body {
        strong {
            font-weight: bold;

        }
    }
}