<app-banner
  title="Plan du site"
  [breakcrumbItems]="breakcrumbItems"
></app-banner>

<section class="sitemap">
  <div class="container">
    <h2>Pages</h2>
    <ul>
      <li>
        <a routerLink="/">Accueil</a>
      </li>
      <li>
        <a routerLink="/services">Services</a>
        <ul>
          <li>
            <a routerLink="/services/peinture">Peintre en bâtiment</a>
            <ul>
              <li *ngFor="let town of towns">
                <a [href]="URLify(['services', 'peinture'], town.name)"
                  >Peintre en bâtiment à {{ town.name }}</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/services/electricite">Électricien</a>
            <ul>
              <li *ngFor="let town of towns">
                <a [href]="URLify(['services', 'electricite'], town.name)"
                  >Électricien à {{ town.name }}</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/services/platrerie">Plaquiste</a>
            <ul>
              <li *ngFor="let town of towns">
                <a [href]="URLify(['services', 'platrerie'], town.name)"
                  >Plaquiste à {{ town.name }}</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/services/carrelage">Carreleur</a>
            <ul>
              <li *ngFor="let town of towns">
                <a [href]="URLify(['services', 'carrelage'], town.name)"
                  >Carreleur à {{ town.name }}</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/galerie">Galerie</a>
      </li>
      <li>
        <a routerLink="/temoignages">Témoignages</a>
      </li>

      <li>
        <a routerLink="/plan-du-site">Plan du site</a>
      </li>
      <li>
        <a routerLink="/contactez-moi">Contactez-moi</a>
      </li>
    </ul>
  </div>
</section>
