@use "../../styles/variables.scss" as *;

:host {
  .services {
    padding: 30px 0;
  }

  .service-block {
    border: 1px solid $light_grey;
    display: flex;
  }

  .service-block + .service-block {
    margin-top: 30px;
  }

  .button + .button {
    margin-left: 15px;
  }

  .button {
    margin-top: auto;
  }

  .service-content {
    display: flex;
    padding: 30px;
    flex-direction: column;

    .links {
      margin-top: auto;
    }
  }

  @media only screen and (max-width: 680px) {
    .service-block {
      flex-direction: column;
      display: flex;
    }
  }
}
