<app-banner
  title="Page introuvable"
  [breakcrumbItems]="breakcrumbItems"
></app-banner>

<section>
  <div class="container">
    <h1>
      Oups ! On dirait que j'ai glissé sur une chute de placo et que cette page
      a disparu dans la poussière !
    </h1>
    <p>
      Pas de souci, ce n'est qu'une petite erreur de parcours, et non une
      nouvelle technique de décoration murale signée par votre artisan préféré.
    </p>
    <p>
      Pendant que je récupère mon niveau et que je remets de l'ordre dans mes
      outils, pourquoi ne pas retourner à la page d'accueil pour découvrir tout
      ce que je peux faire pour vous ?
    </p>
    <p>
      De la peinture aux finitions impeccables en tant que plaquiste, en passant
      par la pose de carrelage et l'installation électrique, je mets mon
      savoir-faire unique au service de votre espace.
    </p>
    <a routerLink="/">Retour à l'accueil</a>
    <p>
      Promis, la prochaine fois, je ferai attention à ne pas laisser mes outils
      traîner sur le site web !
    </p>
  </div>
</section>
