<app-banner [title]="title" [breakcrumbItems]="breakcrumbItems"></app-banner>

<section class="services">
  <div class="container">
    <div class="service-block">
      <img
        src="images/gallery/e0d56de3-6d5a-40c3-87b4-b706133b66fe_thumb.webp"
        alt="Travaux de plaquisterie"
      />
      <div class="service-content">
        <h2>Plaquisterie</h2>
        <p>
          Expert en travaux de plaquisterie, nous assurons la pose de cloisons
          sèches, l'isolation thermique et acoustique pour un intérieur
          confortable et personnalisé.
        </p>
        <div class="links">
          <a href="/services/platrerie" class="button">En savoir plus</a>
          <a href="/contactez-moi" class="button">Demander un devis</a>
        </div>
      </div>
    </div>
    <div class="service-block image-left">
      <img
        src="images/gallery/f7d78790-a461-4496-9f9b-4eb02e37f0d2_thumb.webp"
        alt="Installation électrique"
      />
      <div class="service-content">
        <h2>Installation électrique</h2>
        <p>
          Nous réalisons tous vos travaux d'installation électrique en neuf ou
          en rénovation, en respectant les normes de sécurité pour garantir
          votre confort et votre sécurité.
        </p>
        <div class="links">
          <a href="/services/electricite" class="button">En savoir plus</a>
          <a href="/contactez-moi" class="button">Demander un devis</a>
        </div>
      </div>
    </div>
    <div class="service-block">
      <img
        src="images/gallery/69af6f7a-3cbe-4365-8551-42630f5a8356_thumb.webp"
        alt="Travaux de peinture"
      />
      <div class="service-content">
        <h2>Peinture</h2>
        <p>
          Donnez vie à vos espaces avec notre service de peinture. Choix varié
          de couleurs et finitions de qualité pour un intérieur qui vous
          ressemble.
        </p>
        <div class="links">
          <a href="/services/peinture" class="button">En savoir plus</a>
          <a href="/contactez-moi" class="button">Demander un devis</a>
        </div>
      </div>
    </div>
    <div class="service-block image-left">
      <img
        src="images/gallery/81a414a1-c559-4133-a998-a59478f703e3_thumb.webp"
        alt="Pose de carrelage"
      />
      <div class="service-content">
        <h2>Carrelage</h2>
        <p>
          Spécialiste de la pose de carrelage, nous vous proposons des solutions
          esthétiques et durables pour vos sols et murs, avec un large choix de
          matériaux.
        </p>
        <div class="links">
          <a href="/services/carrelage" class="button">En savoir plus</a>
          <a href="/contactez-moi" class="button">Demander un devis</a>
        </div>
      </div>
    </div>
  </div>
</section>
